@model DashoundCoachTravels.Models.DBEntities.Location

@{
    ViewBag.Title = "Delete location from database";
}

<h3>Are you sure you want to delete this?</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Location Photo
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Country)
        </td>
        <td>
            @Html.DisplayFor(model => model.Town)
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @if (!String.IsNullOrEmpty(Model.LocationImage))
            {
                <img src="@Model.LocationImage" class="img-thumbnail" alt="Thumbnail" width="200" height="200">
            }
            else
            {
                <img src="~/media/default.jpg" class="img-thumbnail" alt="Thumbnail" width="200" height="200">
            }
        </td>
    </tr>

</table>

<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Edit", "Edit") | @Html.ActionLink("Back to List", "Index")
        </div>
    }
</p>
