@model DashoundCoachTravels.Models.DBEntities.Location

<div id="SubPagesTitle">
    <h1>Location details</h1>
    <div id="SubpagesAdminButtons">
        <div style="font-weight:bold; font-size:16px;">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </div>
    </div>
</div>

<section id="pages">
    <div id="SubpagesMainContent">
        <div class="row">
            <div class="col-xs-12">
                <div class="container" id="SubpagesTableList">
                    <table class="table-responsive table-striped" id="SubpagesTableList">
                        <thead id="SubpagesTableList">
                            <tr id="SubpagesTableList-head">
                                <th>
                                    @Html.DisplayNameFor(model => model.Country)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Town)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    Location Photo
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="SubpagesTableList">
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Town)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Description)
                                </td>
                                <td>
                                    @if (!String.IsNullOrEmpty(Model.LocationImage))
                                    {
                                        <img src="@Model.LocationImage" class="img-thumbnail" alt="Thumbnail" width="200" height="200">
                                    }
                                    else
                                    {
                                        <img src="~/media/default.jpg" class="img-thumbnail" alt="Thumbnail" width="200" height="200">
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>