@model DashoundCoachTravels.Models.DBEntities.Coach

@{
    ViewBag.Title = "Delete vehicle from database";
}


<h3>Are you sure you want to delete this?</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleNumber)
        </th>
        <th>
            Vehicle Photo
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Brand)
        </td>
        <td>
            @Html.DisplayFor(model => model.VehModel)
        </td>
        <td>
            @Html.DisplayFor(model => model.Seats)
        </td>
        <td>
            @{
                string parameterValue = Model.DateAdded.ToShortDateString();

            }
            @Html.DisplayFor(model => parameterValue)
        </td>
        <td>
            @Html.DisplayFor(model => model.VehicleNumber)
        </td>
        <td>
            @if (!String.IsNullOrEmpty(Model.VehScreenshot))
            {
                <img src="@Model.VehScreenshot" class="img-thumbnail" alt="Miniaturka" width="200" height="200">
            }
            else
            {
                <img src="~/media/default.jpg" class="img-thumbnail" alt="Miniaturka" width="200" height="200">
            }


            @*Html.DisplayNameFor(model => model.VehScreenshot)*@
        </td>
    </tr>

</table>

<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Edit", "Edit") | @Html.ActionLink("Back to List", "Index")
    </div>
    }
</p>


<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#datetimepicker1').datetimepicker({
            });
        });
    });
</script>
