@model  DashoundCoachTravels.Models.CoachesViewModels
@using DashoundCoachTravels.Helpers
@using Microsoft.AspNet.Identity


<div id="SubPagesTitle">
    <h1>Manage available vehicles</h1>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div id="SubpagesSearchBox">
        <div id="SubpagesSearchBox-inner" class="row">
            <div id="SubpagesSearchBox-main" class="row">
                <div class="col-sm-5" id="homepageSearchField">
                    <p>
                        Vehicle Name
                    </p>
                    <input type="text" id="Search" placeholder="Vehicle name" class="form-control" /> <br />
                </div>
                <div class="col-sm-5" id="homepageSearchField">
                    <p>
                        Minimum seat count
                    </p>
                    <input type="text" id="SearchB" placeholder="more than x seats" class="form-control" />
                </div>
                <div>
                    <button id="SubpagesSearchButton" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Search</button>
                </div>
            </div>
        </div>
    </div>
    <div id="SubpagesAdminButtons">
        @if (UserRoleHelper.IsAdmin(User.Identity.GetUserId()))
        {
            <a href="@Url.Action("Create")" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add a new vehicle
            </a>
        }
        <div style="font-weight:bold; font-size:16px;">
            @Html.ActionLink("Back to list", "Index", "Manage", routeValues: null, htmlAttributes: new { })
        </div>
    </div>
</div>

<section id="pages">
    <div id="SubpagesMainContent">
        <div class="row">
            <div class="col-xs-12">
                <div class="container" id="SubpagesTableList">
                        <table class="table-responsive table-striped" id="SubpagesTableList">
                            <thead id="SubpagesTableList">
                                <tr id="SubpagesTableList-head">
                                    <th>
                                        @Html.DisplayNameFor(model => model.Brand)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VehModel)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Seats)
                                    </th>
                                    <th>
                                        Vehicle Photo
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="SubpagesTableList">
                                @foreach (var item in Model.List)
                                {
                                    <tr id="Search" class="Search">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Brand)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehModel)
                                        </td>
                                        <td class="Number">
                                            @Html.DisplayFor(modelItem => item.Seats)
                                        </td>
                                        <td>
                                            @if (!String.IsNullOrEmpty(item.VehScreenshot))
                                            {
                                                <img src="@item.VehScreenshot" class="img-thumbnail" alt="Thumbnail" width="200" height="200">
                                            }
                                            else
                                            {
                                                <img src="~/media/default.jpg" class="img-thumbnail" alt="Thumbnail" width="200" height="200">
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) { return true; }
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });

        });
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (parseInt(text_one) > parseInt(text_two)) { return true; }
        }
        $("#SearchB").keyup(function () {
            var searchText = $("#SearchB").val().toLowerCase();
            if (searchText != "") {
                $(".Number").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).parents(".Search").hide();
                    } else {
                        $(this).parents(".Search").show();
                    }
                });
            }
        });
    })
</script>