@model DashoundCoachTravels.Models.DBEntities.Trip

<div id="SubPagesTitle">
    <h1>Add a new trip</h1>
    <div id="SubpagesAdminButtons">
        <div style="font-weight:bold; font-size:16px;">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

<section id="pages">
    <div id="SubpagesMainContent">
        <div class="row">
            <div class="col-xs-12">
                <div class="container" id="SubpagesTableList">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>@ViewBag.Title</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NumSpots, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NumSpots, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumSpots, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DateDeparture, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class='input-group date' id='datetimepickerCheckIn'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        @Html.EditorFor(model => model.DateDeparture, new { htmlAttributes = new { @class = "form-control", @style = "width:240px;" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DateDeparture, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DateBack, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class='input-group date' id='datetimepickerCheckOut'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        @Html.EditorFor(model => model.DateBack, new { htmlAttributes = new { @class = "form-control", @style = "width:240px;" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DateBack, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Banner, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Banner, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Banner, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#datetimepickerCheckIn').datetimepicker({
            });
            $("#datetimepickerCheckIn").on("dp.change", function (e) {
                $('#datetimepickerCheckOut').data("DateTimePicker").minDate(e.date);
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#datetimepickerCheckOut').datetimepicker({
            });
            $("#datetimepickerCheckOut").on("dp.change", function (e) {
                $('#datetimepickerCheckIn').data("DateTimePicker").maxDate(e.date);
            });
        });
    });
</script>