@model DashoundCoachTravels.Models.TripsViewModels
@using DashoundCoachTravels.Helpers
@using Microsoft.AspNet.Identity
@using PagedList.Mvc; @*import this so we get our HTML Helper*@
@using PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@

<div id="SubPagesTitle">
    <h1>Our trip offer</h1>
    <p class="text-success">@ViewBag.StatusMessage</p>
</div>

<section id="pages">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="contents">                  
                    <div id="homepageSearch">
                        @using (Html.BeginForm("Index", "Trip", FormMethod.Get))
                        {
                            @Html.AntiForgeryToken()

                            <div id="homepageSearch-inner" class="form-search">
                                <div id="homepageSearchBox-main" class="row">
                                    <div class="col-sm-5" id="homepageSearchField">
                                        <p>
                                            Minimum price
                                        </p>
                                        @Html.EditorFor(model => model.PriceMin, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PriceMin, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-5" id="homepageSearchField">
                                        <p>
                                            Maximum price
                                        </p>
                                        @Html.EditorFor(model => model.PriceMax, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PriceMax, "", new { @class = "text-danger" })
                                    </div>
                                    <div>
                                        <button id="homepageSearchButton" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <div id="SubpagesTripIndex">
                        <h2>Avaliable trips</h2>
                        @if (UserRoleHelper.IsAdmin(User.Identity.GetUserId()) || UserRoleHelper.IsEmployee(User.Identity.GetUserId()))
                        {
                            <a href="@Url.Action("Create")" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                Create a trip
                            </a>
                        }
                        @Html.PagedListPager((IPagedList)Model.List, page => Url.Action("Index", new { page }))
                    </div>

                    <div class="form-group">
                        @foreach (var item in Model.List)
                        {
                            <div class="resultRow">
                                <div class="searchDataTd">
                                    <div class="name">
                                        <h4>@item.TripInstance.Name</h4>
                                        <h5 class="TripDesc">
                                            @if (item.TripInstance.Description == null)
                                            {
                                                <i>No description.</i>
                                            }
                                            else
                                            {
                                                @item.TripInstance.Description
                                            }
                                        </h5>
                                    </div>
                                    <div class="region">
                                        <h5>Sightseeing plan</h5>
                                    </div>
                                    <div class="more">
                                        @if (item.Route.ListElement != null)
                                        {
                                            int n = 0;
                                            foreach (var location in item.Route.ListElement)
                                            {
                                                ++n;
                                                <b>@n.ToString().</b> <i>@location.Name - @location.Town , @location.Country</i><br />
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="searchImgTd">
                                    <div class="price">@Html.DisplayFor(modelItem => item.TripInstance.Price)</div>
                                    <a href="">
                                        @if (!String.IsNullOrEmpty(item.TripInstance.Banner))
                                        {
                                            <img id="photo-1" src="@item.TripInstance.Banner" class="img-thumbnail" alt="Thumbnail" width="200" height="200">
                                        }
                                        else
                                        {
                                            <img id="photo-1" src="~/Media/default.jpg" class="img-thumbnail" alt="Thumbnail" width="200" height="200">
                                        }
                                    </a>
                                </div>

                                <div class="searchTermTd">
                                    <i>Date:</i>
                                    <b>@item.TripInstance.DateDeparture.ToShortDateString()</b> - <b>@item.TripInstance.DateBack.ToShortDateString()</b>
                                    <i>Transport:</i>
                                    <b>@item.CoachModel</b>@*was @item.TripInstance.CoachNumberId*@
                                    <i>Spots booked:</i>
                                    <b>@item.NumSpotsLeft</b> / <b>@item.TripInstance.NumSpots</b>
                                    @if (UserRoleHelper.IsAdmin(User.Identity.GetUserId()) || UserRoleHelper.IsEmployee(User.Identity.GetUserId()))
                                    {
                                        <i>No. of reservations:</i>
                                        <b>@item.NumberOfReservations</b>
                                        if (item.NumberOfReservations == 0)
                                        {

                                        }
                                        else
                                        {
                                            <i class="text-danger">Cannot edit a trip that has active reservations!</i>
                                        }
                                        <i>Manage:</i>
                                        <b>
                                            <a href="@Url.Action("Edit", new { thisTripId = item.TripInstance.Id })" class="btn btn-default">
                                                Edit
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </a>
                                        </b>
                                        <b>
                                            <a href="@Url.Action("Delete", new { thisTripId = item.TripInstance.Id })" class="btn btn-default">
                                                Delete
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                        </b>
                                    }
                                </div>

                                <div class="searchSeeBtn">
                                    <div class="code">
                                        Offer number:
                                        @item.TripInstance.Id
                                    </div>
                                    <a href="@Url.Action("Details", new { thisTripId = item.TripInstance.Id })" class="btn btn-warning btn-lg">
                                        <span class="glyphicon glyphicon-globe" aria-hidden="true">Details</span>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>