@using DashoundCoachTravels.Helpers
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Internet Applications Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="~/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

    <!-- import the included stylesheet for some (very basic) default styling -->
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <!--OpenStreetMap + Leaflet stuff-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <link href="https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css" rel="stylesheet" />
    <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>


</head>
<body id="main">
    <div id="tlo">
        <div class="container">
            <a href="/" id="header">
                <img src="~/Media/CompanyLogo.png" title="Dashound Coach Travels">
            </a>
            <div id="accountNav">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!--Odpowiada za wyswietlanie strzalki przewijania w gore.
    Domyslnie ma wartosc display:none jesli user jeszcze nie przewiną strony w dol
    Skrypt znajduje sie w pliku footer.php
    -->
    <a href="#" class="scrollToTop"></a>

    <div class="navbar navbar-inverse navbar-fixed-top" id="navigationBar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    @if (UserRoleHelper.IsAdmin(User.Identity.GetUserId()))
                    {
                        <span class="icon-bar"></span>
                    }
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="navMenu">
                    <li><a href="@Url.Action("Index","Home","Home")"><i id="homeIcon" class="fa fa-home"></i></a></li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Destinations", "Destinations", "Home")</li>
                    <li>@Html.ActionLink("Our fleet", "Fleet", "Home")</li>
                    <li>@Html.ActionLink("Trips", "Index", "Trip")</li>
                    @if (UserRoleHelper.IsAdmin(User.Identity.GetUserId()))
                    {
                        <li>@Html.ActionLink("Statistics", "Statistics", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="mainContent" class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <section id=footer>
        <div class="container">
            <div class="row">
                <div id="weii" class="col-md-4">
                    <a href="http://weii.portal.prz.edu.pl" target="_blank"><img src="~/Media/weii_logo.png" alt="" class="img-responsive"></a>
                </div>
                <div id="prz" class="col-md-4">
                    <a href="http://portal.prz.edu.pl" target="_blank"><img src="~/Media/prz_logo.png" alt="" class="img-responsive"></a>
                </div>
                <div id="info">

                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copy">&copy; @DateTime.Now.Year - Internet Application Project</div>
                </div>
            </div>
        </div>
    </footer>

</body>


@*OLD UNUSED
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Dashound Coach Travels", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="menuTest">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Internet Application Project</p>
            </footer>
        </div>


    </body>
*@
</html>


<script type="text/javascript">
    $(document).ready(function () {

        //Check to see if the window is top if not then display button
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollToTop').fadeIn();
            } else {
                $('.scrollToTop').fadeOut();
            }
        });

        //Click event to scroll to top
        $('.scrollToTop').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 800);
            return false;
        });

    });
</script>


<!-- SKRYPT : sprawdza czy strona została zescrollowana w dół 110px (wysokość diva z logiem strony). Jeśli tak, to modyfikuje css elementu .navbar (menu), tak by był przypięty do góry strony i zawsze widoczny),
Modyfikuje div tlo by zmiana była łagodna i nie zauważalna (brak przeskoku). Jeżeli użytkownik zecrolluje do góry zmiany zostają cofnięte ELSE.

Całość sie wykona tylko, jeśli szerokość okna jest większa niż 764px
-->
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $(function () {
            $('#navigationBar').data('size', 'big');
        });

        var szer = window.outerWidth;
        if (szer >= 764) {

            $(window).scroll(function () {
                if ($(document).scrollTop() > 73) {
                    if ($('#navigationBar').data('size') == 'big') {
                        $('#navigationBar').data('size', 'small');
                        $('div#tlo').stop().css({ 'margin-bottom': '54px' });
                        $('#navigationBar').stop().css({ 'position': 'fixed', 'z-index': '9999', 'width': '100%' });
                        $('#navigationBar').stop().css({ 'top': '0px' });
                    }
                } else {
                    if ($('#navigationBar').data('size') == 'small') {
                        $('#navigationBar').data('size', 'big');
                        $('div#tlo').stop().css({ 'margin-bottom': '0px' });
                        $('#navigationBar').stop().css({ 'position': 'relative' });
                        $('#navigationBar').stop().css({ 'top': '0' });
                    }
                }
            });
        }
    });
</script>