@model DashoundCoachTravels.Models.EditUserRoleViewModel
@using DashoundCoachTravels.Helpers

<div id="SubPagesTitle">
    <h1>Edit user permissions</h1>
    <div id="SubpagesAdminButtons">
            <div style="font-weight:bold; font-size:16px;">
                @Html.ActionLink("Back to List", "Index")
            </div>
    </div>
</div>

<section id="pages">
    <div id="SubpagesMainContent">
        <div class="row">
            <div class="col-xs-12">
                <div class="container" id="SubpagesTableList">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Surname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Surname)
                        </dd>
                        <dt>Permission Type</dt>
                        @if (UserRoleHelper.IsAdmin(Model.Id))
                        {
                            <dd class="role-admin">Administrator</dd>}
                        @if (UserRoleHelper.IsEmployee(Model.Id))
                        {
                            <dd class="role-admin">Employee</dd>}
                        @if (UserRoleHelper.IsUser(Model.Id))
                        {
                            <dd class="role-admin">Customer/Basic</dd>}

                            <dt>
                                @Html.LabelFor(model => model.RoleType)
                            </dt>

                            <dd>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <p>
                                    @Html.HiddenFor(model => model.Id)
                                    @{
                                        List<SelectListItem> listAllRoles = new List<SelectListItem>();
                                        listAllRoles.Add(new SelectListItem
                                        {
                                            Text = "Administrator",
                                            Value = "Administrator"
                                        });
                                        listAllRoles.Add(new SelectListItem
                                        {
                                            Text = "Employee",
                                            Value = "Employee"
                                        });
                                        listAllRoles.Add(new SelectListItem
                                        {
                                            Text = "Customer",
                                            Value = "Customer"
                                        });
                                    }
                                    @Html.DropDownListFor(model => model.RoleType, listAllRoles)
                                </p>

                                }
                            </dd>
                    </dl>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

